<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
    th:replace="layout/base-layout :: layout(~{ :: #titleContent}, ~{}, ~{ :: #content})">

<body>
  <h1 id="titleContent">Lista firm</h1>

  <section id="content">
    <div class="card mb-4">
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
          <tr>
            <th>Id</th>
            <th>Company Name</th>
            <th>Address</th>
            <th>PostCode</th>
            <th>City</th>
            <th>Country</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="company : ${companies}">
            <td th:text="${company.id}"></td>
            <td th:text="${company.companyName}"></td>
            <td th:text="${company.address}"></td>
            <td th:text="${company.postcode}"></td>
            <td th:text="${company.city}"></td>
            <td th:text="${company.country}"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</body>
</html>