<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(titleContent, subtitle, content)">

<head th:replace="fragments/base :: baseHeader(~{::link})">
  <title>Company Name</title>
  <link rel="stylesheet">
</head>

<body>
<!--Header-->
<header th:replace="fragments/navbar :: header"></header>

<div class="container-fluid">
  <div class="row">

  <!--Sidebar-->
  <div th:replace="fragments/sidebar :: sidebar"></div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!--SECTION TITLE-->
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 th:replace="${titleContent}" class="h2">Title Content</h1>
      </div>

        <!--CONTENT-->
        <section th:replace="${content}">
          <p>Ta część będzie zastąpiona przez section id content z danego pliku</p>
        </section>
    </main>

  </div>
</div>

<script th:replace="fragments/base :: script"></script>

</body>
</html>