<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(titleContent, subtitle, content)">

<head th:replace="fragments/base :: baseHeader(~{::link})">
  <title>Company Name</title>
<!--  <link rel="stylesheet">-->
  <!-- Custom styles for this template -->
  <link th:href="@{/css/signin.css}" rel="stylesheet">

</head>

<body class="text-center">

        <!--CONTENT-->
        <main th:replace="${content}"></main>

<script th:replace="fragments/base :: script"></script>

</body>
</html>