<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ADR list">
  <meta name="author" content="m.szyba@gmail.com">
  <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<!--HEAD-->
<head th:fragment="baseHeader(links)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">
  <meta name="author" content="m.szyba@gmail.com">
  <title>ADR Waybill</title>

  <!-- Common styles and scripts -->
  <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

  <!--/* This is a laceholder for additional links */-->
  <th:block th:replace="${links}" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>

<!--SCRIPTS-->
<th:block th:fragment="script">
  <script th:src="@{/webjars/feather-icons/4.28.0/dist/feather.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
  <script th:src="@{/js/scripts.js}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
  <script th:src="@{/js/datatables-simple-demo.js}"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
</th:block>

</body>
</html>