<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ADR list">
  <meta name="author" content="m.szyba@gmail.com">
  <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<!--HEAD-->
<head th:fragment="baseHeader(links)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="">
  <meta name="author" content="m.szyba@gmail.com">
  <title>ADR Waybill</title>

  <!-- Common styles and scripts -->
  <link th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/webjars/jquery-ui/1.13.2/jquery-ui.min.css}" rel="stylesheet"/>
  <link th:href="@{/css/dashboard.css}" rel="stylesheet"/>

  <!--/* This is a laceholder for additional links */-->
  <th:block th:replace="${links}"/>

</head>

<!--SCRIPTS-->
<th:block th:fragment="script">
  <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>

  <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/webjars/feather-icons/4.28.0/dist/feather.js}"></script>
  <script th:src="@{/js/dashboard.js}"></script>
</th:block>

</body>
</html>