<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<footer th:fragment="footer" class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-muted">Copyright &copy; adr.michalszyba.eu 2021</div>
      <div>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>