<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>


<header th:fragment="header" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button"
          data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="btn-group dropstart">
    <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
      <span data-feather="user" class="align-text-bottom"></span>
      <a th:text="${#authentication.principal.username}"></a>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
      <form name="logoutForm" th:action="@{/logout}" method="post">
        <input type="submit" class="dropdown-item" value="Sign Out"/>
      </form>
      </li>
    </ul>
  </div>

</header>
</body>
</html>