<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
    th:replace="layout/base-layout :: layout(~{ :: #titleContent}, ~{}, ~{ :: #content})">

<body>
  <h1 id="titleContent">Dodaj klienta</h1>

  <section id="content">
    <div class="card mb-4">
      <div class="card-header">Customer Details</div>
      <div class="card-body">
        <form th:action="@{/customer/add}" th:object="${customer}" method="post">
          <!-- Form Row-->
          <div class="row gx-3 mb-3">
            <input type="hidden" th:field="*{id}" th:value="*{id}">
            <!-- Form Group (Customer name)-->
            <div class="col-md-6">
              <label class="small mb-1" for="customerName">Customer name</label>
              <input th:field="*{customerName}" class="form-control" id="customerName" type="text" placeholder="Enter Customer name" value="" required>
            </div>
            <div class="col-md-6">
              <label class="small mb-1" for="vatNo">VAT No</label>
              <input th:field="*{vatNumber}" class="form-control" id="vatNo" type="text" placeholder="Enter VAT No" value="">
            </div>
          </div>
          <!--Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (address)-->
            <div class="col-md-6">
              <label class="small mb-1" for="postCode">Post Code</label>
              <input th:field="*{postcode}" class="form-control" id="postCode" type="text" placeholder="" value="">
            </div>
            <div class="col-md-6">
              <label class="small mb-1" for="city">City</label>
              <input th:field="*{city}" class="form-control" id="city" type="text" placeholder="" value="">
            </div>
            <div class="col-md-6">
              <label class="small mb-1" for="street">Street</label>
              <input th:field="*{address}" class="form-control" id="street" type="text" placeholder="" value="">
            </div>
            <div class="col-md-6">
              <label class="small mb-1" for="country">Country</label>
              <input th:field="*{country}" class="form-control" id="country" type="text" placeholder="" value="">
            </div>
          </div>
          <!--Form Row-->
          <div class="row gx-3 mb-3">
            <!-- Form Group (contact)-->
            <div class="col-md-6">
              <label class="small mb-1" for="emailAddress">E-mail address</label>
              <input th:field="*{email}" class="form-control" id="emailAddress" type="text" placeholder="" value="">
            </div>
            <div class="col-md-6">
              <label class="small mb-1" for="phone">Phone Number</label>
              <input th:field="*{phone}" class="form-control" id="phone" type="text" placeholder="" value="">
            </div>
          </div>
          <!-- Submit button-->
          <button class="btn btn-dark" type="submit">Add customer</button>
        </form>
      </div>
    </div>
  </section>

</body>
</html>