<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
    th:replace="layout/login-layout :: layout(~{ :: #titleContent}, ~{}, ~{ :: #content})">

<body>
  <h1 id="titleContent">Rejestracja</h1>

  <section id="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
            <div class="card-body">
              <form th:action="@{/register}" th:object="${user}" method="post">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                      <input type="hidden" th:field="*{id}" th:value="*{id}">
                      <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name"
                          th:field="*{firstName}" required />
<!--                      <div class="invalid-feedback" th:if="${#fields.hasErrors('inputFirstName')}" th:errors="*{firstName}"></div>-->
                      <label for="inputFirstName">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name"
                             th:field="*{lastName}" />
                      <label for="inputLastName">Last name</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                      <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com"
                             th:field="*{email}" />
                      <label for="inputEmail">Email address</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                      <input class="form-control" id="inputPassword" type="password" placeholder="Create a password"
                             th:field="*{password}" />
                      <label for="inputPassword">Password</label>
                    </div>
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <select th:field="*{company}" class="form-select" id="inputCompany" required>
                    <th:block th:each="c : ${companies}">
                      <option th:text="${c.companyName}" th:value="${c.id}"></option>
                    </th:block>
                  </select>
                  <label for="inputCompany" class="form-label">Company</label>
                </div>
                <div class="mt-4 mb-0">
                  <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
                </div>
              </form>
            </div>
            <div class="card-footer text-center py-3">
              <div class="small"><a href="/login">Have an account? Go to login</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>